@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-3;
  }
}

html,
body,
#root {
  @apply h-full;
}

#root {
  @apply flex flex-col;
}

main {
  @apply grow;
}
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 200px;
  aspect-ratio: 1;
  color: #514b82;
  position: relative;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(currentColor 0 0) 0 calc(var(--s, 0) * -100%) / 100%
      calc(100% / 3),
    repeating-linear-gradient(90deg, currentColor 0 25%, #0000 0 50%)
      calc(var(--s, 0) * 100%) 50% / calc(4 * 100% / 3) calc(100% / 3);
  background-repeat: no-repeat;
  animation: l26 2s infinite;
}
.loader::after {
  --s: -1;
}
@keyframes l26 {
  0%,
  10% {
    transform: translateY(calc(var(--s, 1) * 0));
    background-position:
      0 calc(var(--s, 0) * -100%),
      calc(var(--s, 0) * 100%) 50%;
  }
  33% {
    transform: translateY(calc(var(--s, 1) * -20%));
    background-position:
      0 calc(var(--s, 0) * -100%),
      calc(var(--s, 0) * 100%) 50%;
  }
  66% {
    transform: translateY(calc(var(--s, 1) * -20%));
    background-position:
      0 calc(var(--s, 0) * -100%),
      calc(var(--s, 0) * 100% + 100%) 50%;
  }
  90%,
  100% {
    transform: translateY(calc(var(--s, 1) * 0));
    background-position:
      0 calc(var(--s, 0) * -100%),
      calc(var(--s, 0) * 100% + 100%) 50%;
  }
}

.background {
  background: rgba(19, 241, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);

  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}
